/* Style the body of the popup */
body {
    width: 250px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Light gray background color */
    border-radius: 10px; /* Slightly rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    opacity: 0; /* Start with 0 opacity for fade-in effect */
    animation: fadeIn 0.9s ease-in-out forwards; /* Fade-in animation */
}

/* Style the button to save the window */
#save-window {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4caf50; /* Green background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition */
    /* Optional: Add a hover effect */
    &:hover {
        background-color: #45a049; /* Darker green on hover */
    }
}



/* Style the list of saved windows */
#window-list {
    margin-top: 20px;
}

/* Style the buttons for saved windows */
#window-list button {
    display: flex; /* Use flexbox to center content vertically */
    background-color: #fff; /* White background color */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth color transition */
}

/* Change button color on hover */
#window-list button:hover {
    background-color: #f0f0f0; /* Light gray background color on hover */
}

/* Style the button container */
.button-container {
    display: flex; /* Use flexbox to horizontally align children */
    align-items: center; /* Vertically center content */
    border: 1px solid red;
}

/*Style the nested button container */
.nested-button-container {
    display: flex; /* Using flex to fit both button and x button */
    alight-items: center;
    border: 1px solid yellow;
}

/* Style the "Delete" button */
.delete-button {
    background-color: #ff5b5b; /* Red background color */
    color: #fff;
    border: none;
    padding: 0.5px 0.5px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    font-size: 12px;
}

.delete-button i {
    font-size: 10px;
}

/* Style the text container */
.text-container {
    flex-grow: 1; /* Allow text to take remaining space */
    margin-right: 10px; /* Spacing between the text and "Delete" button */
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); /* Optional: Add a slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
